.book-image img{
    margin-top: 20px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 620px;
    
}
.rent-btn {
    margin-left: 785px;
    margin-bottom: 20px;
    background: aqua;
}
.rent-pannel h1{
    color: rgb(9, 212, 53);
}
@media screen and (max-width: 820px) {
    .rent-pannel{
        width:100%;
    }
    .book-image img{
        width:100%;
    }
    .rent-btn{
        width:100%;
    }
}