



.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: black;
    background-color: rgb(77, 78, 75);

}
.form-group{
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid rgb(10, 10, 10);
}
.heading{
    font-size: 50px;
    color:lightseagreen
}





